body{
	background-color: black;
}

#myList {
	width: 510px;
	margin:50px auto 0 auto;
	padding: 20px;
	height: auto;
	background-color: teal;
}

#myList h1 {
	font-family: "Gotham", sans-serif;
	font-size: 32px;
	text-transform: uppercase;
	text-align: center;
	color: white;
	padding-bottom: 10px;
}

#newTask {
	width: 445px;
	height: 35px;
	background-color: #e2e2e2;
	border: solid 3px white;
	color: teal;
	font-size: 17px;
	padding-left: 5px;
}

#newTask:focus {
	outline: none;
}

#addButton {
	height:43px;
	width:50px;
	margin-top: 0px;
	padding-top: 3px;
	float: right;
	background-color:teal;
	border:3px solid aquamarine;
	color:aquamarine;
	font-family:"Gotham", sans-serif;
	font-size:14px;
}

#taskList {
	/*margin-top: 30px;*/
	margin: 30px auto 0 auto;
}

.task {
	width: 503px;
	margin-top: 10px;
	padding: 1px;
	background-color: white;
}

.task p {
	width: 400px;
	height: 20px;
	background-color: white;
	margin: 5px;
	font-size: 16px;
	padding-top: 3px;
	padding-left: 5px;
	font-family: 'Gotham', sans-serif;
	
}

#deleteButton {
	height:23px;
	width:20px;
	float: right;
	margin-top: -28px;
	margin-right: 5px;
	background-color: teal;
	border:1px solid aquamarine;
	color:aquamarine;
	font-family:Arial Black;
	font-size:15px;
	padding: 0px;
	cursor: pointer;
}
 
#deleteAll {
	padding-top: 4px;
	margin-top: 10px;
	color:aquamarine;
	background-color: teal;
	border:2px solid aquamarine;
}
